// $Globel
* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');
@mixin size($w,
$h) {
  width: $w;
  height: $h;
}

@mixin flexCenter() {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

@mixin flexLeft() {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-flow: row wrap;
}

$color--white:#FFFFFF;
$color--black:#000000;
$color--gray:#9B9B9B;
$header__bg:rgb(125, 201, 211);
$header__hover:rgb(111, 120, 131);
$button__cancel:rgb(202, 67, 83);
$button__plus:#C8C8C8;
$button__star:rgb(25, 0, 255);
$list__bg:rgb(243, 243, 243);
$list__bg--selected:rgb(197, 230, 235);
$bg:rgb(226, 226, 226);
a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

body,
html {
  @include size(100%,
  100%);
  background-color: $bg;
  font-family: 'Roboto', 'Helvetica', arial, sans-serif;
  font-size: 24px;
}

input[type=checkbox] {
  appearance: none;
  @include size(24px,
  24px);
  background-color: $color--white;
  border: none;
  outline: none;
  cursor: pointer;
}

input[type=checkbox]:checked {
  background-color: $header__bg;
}

button {
  vertical-align: middle;
  cursor: pointer;
  border: none;
  padding: 0;
}

.container {
  @include flexCenter();
  @include size(100%,
  100%);
}

.block {
  position: fixed;
  @include size(100%,
  100%);
  z-index: 100;
  background-color: rgba($color--gray, 0.3);
}

// $Header
.header {
  @include size(100%,
  76px);
  @include flexCenter();
  background-color: $header__bg;
  position: relative;
  z-index: 200;
}

.nav--link {
  @include size(220px,
  100%);
  @include flexCenter();
  margin: 2px 10px;
  height: 28px;
  color: $color--black;
  background-color: $header__bg;
  outline: none;
  transition: color 0.3s;

}
.nav--link::before{
  content: "";
  @include size(160px,
  5px);
  background-color: $header--hover;
  bottom: 0;
  position: absolute;
  color: $color--white;
  opacity: 0;
  transition: opacity 0.3s;
}


.nav--link:hover::before,
.selected::before {
  opacity: 1;
}

.nav--link:hover,
.selected {
  color: $color--white;
  font-weight: 500;
}

// $Main
.task__list {
  box-shadow: 0 0px 30px rgba(0, 0, 0, 0.1);
  margin: 8px 0;
  border-radius: 5px;
  overflow: hidden;
  &.topBlock {
    margin: 24px 0;
  }
}

.task__input {
  @include size(100%,
  100%);
  @include flexCenter();
  .input {
    @include size(620px,
    65px);
    margin: 24px 0;
    border-radius: 5px;
    border: 2px solid $button__plus;
    background-color: $color--white;
    cursor: pointer;
    display: flex;
    align-items: center;
    padding-left: 33px;
    color: $button__plus;
  }
}

.main__display {
  @include size(620px,
  auto);
  background-color: $list__bg;
  padding: 0 32px;
  padding-top: 24px;
  padding-bottom: 17px; //縮小要改
  // margin-bottom: 8px;
  border-radius: 5px;
  input[type=text] {
    margin-left: 40px;
  }
}

.list--title {
  @include flexCenter();
  justify-content: space-between;
  .main {
    @include flexCenter();
    span {
      margin-left: 16px;
      font-weight: 500;
      height: 28px;
    }
  }
}

.list--subtitle {
  // display: none;
  @include size(100%,
  auto);
  margin-top: 15px; //縮小要拿掉
  margin-left: 40px;
  color: $color--gray;
  font-size: 16px;
  i:not(:first-child),
  span {
    margin: 4px;
  }
}

.icon {
  i:not(:last-child) {
    margin-right: 16px;
  }
}

.fa-star,
.fa-trash-alt,
.fa-pencil-alt {
  cursor: pointer;
}

//縮放後的區塊
.sub__display {
  @include flexLeft();
  @include size(620px,
  auto);
  background-color: $list__bg;
  border-top: 2px $button__plus solid;
}

.list--detail {
  @include size(100%,
  100%);
  padding: 24px 72px;
}


.file--message {
  @include flexLeft();
  flex-flow: row wrap;
  .msg span {
    display: flex;
    font-size: 16px;
    height: 19px;
    margin-right: 23px;
  }
  .msg span:nth-child(2) {
    color: $color--gray;
  }
  input[type='file'] {
    appearance: none;
    visibility: hidden;
    opacity: 0;
    display: none;
  }
  label {
    @include flexCenter();
    @include size(32px,
    32px);
    font-size: 24px;
    background-color: $button__plus;
    color: $color--white;
    cursor: pointer;
    margin-left: 16px;
  }
}

.subtitle {
  margin-left: 24px;
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  font-size: 16px;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  i {
    font-size: 16px;
  }
  span {
    font-size: 20px;
    height: 24px;
    margin-left: 9px;
    font-weight: 500;
  }
}

.sub__display--button {
  display: flex;
  @include size(100%,
  100%);
  button {
    @include flexCenter();
    flex-flow: row wrap;
    @include size(100%,
    auto);
    padding: 16px;
  }
  .cancel {
    color: $button__cancel;
    background-color: $color--white;
    .line {
      span {
        background-color: $button__cancel;
      }
    }
    &:hover {
      font-size: 26px;
    }
  }
  .save {
    color: $color--white;
    background-color: $header__bg;
    .line {
      transform: rotate(45deg);
      span {
        background-color: $color--white;
      }
    }
    &:hover {
      font-size: 26px;
    }
  }
}

.line {
  @include size(32px,
  32px);
  position: relative;
  margin-right: 8px;
  span {
    @include size(20px,
    3px);
    display: block; // background-color: $color--black;
    position: absolute;
    top: 50%;
    left: 50%;
  }
  span:nth-child(1) {
    transform: translate(-50%, -50%) rotate(45deg);
  }
  span:nth-child(2) {
    transform: translate(-50%, -50%) rotate(-45deg);
  }
}

//js
.star {
  &.fa-star {
    color: $button__star;
  }
  &.main__display {
    background-color: $list__bg--selected;
  }
  &.fa-pencil-alt {
    color: $header__bg;
  }
}

.hidden {
  display: none;
  visibility: hidden;
  opacity: 0;
}

.list--complete {
  text-decoration: line-through;
}

.zindex {
  position: fixed;
  top: 76px;
  z-index: 500;
}
.el-input__inner{
  display: flex;
  font-size: 16px;
}
.el-input__prefix{

}